/* GAME PHASE 2 */
.teapet {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.ceremony {
  text-align: center;
}

.ceremony.inactive {
  opacity: 0.5;
}

#ceremony_running {
  display: none;
}

#ceremony_container { /*640, 580*/
  width: 640px;
  height: 580px;
  position: relative;
}

#ceremony_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(248,248,243);
  background: linear-gradient(180deg, rgba(248,248,243,1) 0%, rgba(171,149,74,1) 74%);
}

#ceremony_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(static/img/ceiling_fire.png);
  background-repeat: repeat-x;
}

#ceremony_pillar_left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 512px;
  background-repeat: no-repeat;
  background-image: url(static/img/pillar_simple.png);
}

#ceremony_pillar_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64px;
  height: 512px;
  background-repeat: no-repeat;
  background-image: url(static/img/pillar_simple.png);
}

#ceremony_decor_left {
  position: absolute;
  top: 52%;
  left: 19%;
  width: 64px;
  height: 128px;
  background-repeat: no-repeat;
  background-image: url(static/img/fire_pot.png);
}

#ceremony_decor_right {
  position: absolute;
  top: 52%;
  right: 19%;
  width: 64px;
  height: 128px;
  background-repeat: no-repeat;
  background-image: url(static/img/fire_pot.png);
}

#ceremony_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 256px;
  background-image: url(static/img/floor_fire.png);
}

#ceremony_fire {
  position: absolute;
  bottom: 160px;
  left: 200px;
  color: #ecd;
}

#ceremony_nature {
  position: absolute;
  bottom: 160px;
  left: 315px;
  color: #ecd;
}

#ceremony_water {
  position: absolute;
  bottom: 160px;
  left: 400px;
  color: #ecd;
}

#ceremony_icon_fire {
  position: absolute;
  bottom: 180px;
  left: 220px;
}

#ceremony_icon_nature {
  position: absolute;
  bottom: 180px;
  left: 315px;
}

#ceremony_icon_water {
  position: absolute;
  bottom: 180px;
  left: 410px;
}

#pick_bag {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30px;
  left: 85px;
}

#abort_ceremony {
  position: absolute;
  width: 90px;
  height: 35px;
  bottom: 90px;
  right: 85px;
}

#picked_teapet_text {
  position: absolute;
  top: 25%;
  left: 80px;
}

#progress_explosion {
  position: absolute;
  top: 335px;
  left: 230px;
  height: 15px;
  width: 180px;
}

#waterfall {
  position: absolute;
  top: 30px;
  left: 220px;
  display: none;
}

#picked_teapet {
  position: absolute;
  top: 200px;
  left: 245px;
}

#picked_teapet.animate0 {
  animation: animate0 2s forwards;
}

#picked_teapet.animate1 {
  animation: animate1 2s forwards;
}

#picked_teapet.animate2 {
  animation: animate2 2s forwards;
}

@keyframes animate0{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(0.6);
        top: 38%;
    }
}

@keyframes animate1{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(0.8);
        top: 36%;
    }
}

@keyframes animate2{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(1.0);
        top: 34%;
    }
}

.teapet-selected {
    background-color: #bcb;
  }