:root {
    --title_size: 14pt;
    --norm_size: 8pt;
    --button_size: 8pt;

    --white: #fff;
    --bright-color: #84BB6D;
    --hover-color: rgba(167, 206, 151, 0.15);
    --dark-mid-color: #295651;
    --dark-color: #091810;

  }



  body {

    margin: 0;
    padding: 0;

    background-color: var(--dark-color);
    color: var(--white);

    font-family: 'PixelOperator';
    font-size: var(--norm_size);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#img-monk {
    filter:url(#wellig);
}

.monk {
    position: relative;
    width: 10em;
    height: 12em; 
    border: 2px solid red; 
    /* background-image: url('./static/img/monk.png'); */
    background-size: cover;
    top: 20px;
    opacity: 1;

    
}

/* .monk::before {    
      content: "";
      background-image: url('static/monk.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .5;
} */