@font-face{
  font-family: 'PixelOperator';
  src: url('static/fonts/PixelOperator8.ttf');
  font-weight: normal;
}

@font-face{
  font-family: 'PixelOperator';
  src: url('static/fonts/PixelOperator8-Bold.ttf');
  font-weight: bold;
}

:root {
  --title_size: 14pt;
  --norm_size: 8pt;
  --button_size: 8pt;

  --bright-color: #84BB6D; /* main color*/
  --hover-color: rgba(167, 206, 151, 0.15);
  --bright-mid-color: #499360; /* border-color for buttons*/
  --dark-mid-color: #295651;
  /* --dark-color: #205038; text */
  --dark-color: #091810;
  /*
  --bright-color: #DBF4B4;
  --bright-mid-color: #ABC396;
  --dark-mid-color: #4C625A;
  --dark-color: #374c3d;
  */
  /*
  --bright-color: #ffe;
  --bright-mid-color: #ABC396;
  --dark-mid-color: #7B9278;
  --dark-color: #3f3f3f;
  box: rgba(30,30,30,0.4);
  box:hover: rgba(30,30,30,0.65);

  */
}

html {
  touch-action: manipulation;
}

body {
    background-color: var(--bright-mid-color);
    color: var(--dark-color);

    font-family: 'PixelOperator';
    font-size: var(--norm_size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PixelOperator';
    font-size: var(--title_size);
    font-weight: bold;
}

button, select {
  font-family: 'PixelOperator';
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 90px;
  width:100%;
  background-image: url("static/footer1.png");
  background-repeat: repeat-x;
  z-index: -1;
}

.debug-red {
  background-color: red;
}



.slider-handle {
  background-color: var(--bright-mid-color);
  border-radius:5px;
}

.slider-handle:active, .slider-handle:hover{
  background-color: var(--dark-mid-color);
  border-color: var(--dark-color);
}

/* style of tooltip */
.info-exists {
  position: relative;
  display: inline-block;
}

.info-exists .info {
  visibility: hidden;
  background-color: var(--bright-color);
  color: var(--dark-mid-color);
  text-align: center;
  padding: 0px 5px;
  border-style: solid;
  border-color: var(--bright-mid-color);
  border-width: 2px;
  white-space: nowrap;
  position: absolute;
/*  left: 0px;
  top: 0px; */
  z-index: 1;
  transition: visibility 0s;
}
.info-exists:hover .info {
  visibility: visible;
  transition: visibility 0s linear 600ms;
}
.info:hover {
  display: none;
}
/*end of style for tooltip */


.main_column {
  padding: 0px 7px 0px 7px;
}

.relative {
  position: relative;
}

.title_tab {
  position: absolute;
  top: -6px;
  left: -44px;
}

/* style for all clickable elements */
.clickable {
  border-style: outset;
  border-width: 3px;
  border-color: var(--bright-mid-color);
}

.clickable:hover {
  background-color: var(--hover-color);
  border-style: outset;
}

.clickable:active {
  border-style: inset;
}

.teapet-selected {
  background-color: #BCB;
}

.popup {
  font-size: 10pt;
  text-align: center;
  padding: 40px;
  background-color: var(--bright-color);
  line-height: 25pt;
}

.tea-icon-main {
    transform: translate(0%, -6.6px);
}

.tea-icon {
    width: 12px;
    transform: translate(0%, -3.2px);
}

.icon_spacing {
  margin: 0 .5rem;
}

.map {
    /*border: solid;
    border-width: 0px;*/

    /* This is needed for equal aspect ratio */
    width: 100%;
    height: 100%;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Equal aspect ratio container */
.equal_aspect_ratio{
  position: relative;
  width: 100%;
  padding: 0px;
}

.equal_aspect_ratio:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#map_container1 {
  width: 50%;
}

#map1 {
  border-width: 1px;
  border-color: var(--dark-color);
}

.center {
  text-align: center;
}

.img_focus {
  margin-bottom: 16px;
}

/*STANDARD UI ELEMENTS*/
.box {
  background-color: var(--bright-color);/*rgba(48,48,48,0.4);*/

  border-radius: 3px;
  border-style: double;
  border-width: 6px;
  border-color: var(--dark-color);

  padding: 11px;

  margin-bottom: 14px;
  margin-left: 0px !important;
  margin-right: 0px !important;

  font-family: 'PixelOperator';
  word-spacing: 20% !important;

  transition-duration: 700ms;
  transition-property: background;
}

.more_line_height {
  line-height: 30px;
}

#focus {
  font-size: var(--title_size);
  font-weight: normal;
}

/*GAME PHASE 0*/
#ui_game_phase0, #ui_game_phase1, #ui_game_phase2 {
  padding: 30px;
  padding-top: 30px;
  display: none;
  min-width: 80%;
}

.teabag_container {
  text-align: right;
}

.teabag_container.inf {
  text-align: left;
}

#teabags, #teabags1, #teabags2 {
  font-size: var(--title_size);
  font-weight:bold;
}

#alef {
  position:absolute;
  font-size: var(--title_size);
  transform: translate(-120%, -1.2rem);
}

#select_strategy {
  height: 24px;
  max-height: 24px;
  line-height: 10px;
  width:100px;
  margin-top: 8px;
  padding-top:5px;
  font-size: var(--button_size)

}

#make_teabag {
  margin-bottom: 5px;
}


/*.box_garden {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
*/
button {
  color: var(--dark-color);
  background-color: var(--bright-color);

  border-style: outset;
  border-width: 3px;
  border-color: var(--bright-mid-color);
  border-radius: 3px;

  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  font-size: var(--button_size);
}

button:hover, .btn:hover {
  background-color: var(--hover-color);
  border-style: outset;
}

button:active, .btn:active {
  border-style: inset;
}
button:focus {
  outline: none;
}

.btn_big {
  padding: .8rem;
  font-size: .9rem;
}

#ui_projects, #ui_projects1, #ui_projects2 {
  padding: 0px;
  padding-top: 12px;
}

.project {
    padding: 12px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 90%;
    font-size: var(--norm_size);
    font-weight: normal;
    background-color: var(--bright-color);
    display: none;
    color: var(--dark-color);
}

.project_title {
  font-weight: bold;
  font-size: var(--norm_size);
}

.project_price {
  font-size: var(--norm_size);
  font-weight:bold;
  /*float: right;*/
  width: 100%;
  text-align: right;
  margin-top: 8px;
}

.btn_plus {
  font-weight: bold;
  font-size: var(--norm_size);
}

.btn_buy {
  font-weight: bold;
  font-size: var(--norm_size);
  font-family: 'PixelOperator';
  padding: 5px;
}

.btn_buy.minus {
  padding: 5px;
}

#strategies {
  text-align: center;
}
/* BUYABLE */
/*.btn_buy.buyable {
  background-color: #ddd;
}

.project.buyable {
  background-color: #ddd;
}

.btn_set_compost.buyable {
  background-color: #ddd;
}
*/
/*background-color: rgba(253, 256, 220, 0.8);*/

.buyable, .buyable:hover {
  background-color: rgba(211, 209, 167, 0.5);
}



#strategy-smart, #strategy-home {
  opacity: 0.0;
  cursor: default !important;
}

#ui_compost, #ui_garden, #ui_garden1, #ui_garden2, #ui_coll_strategy, #ui_coll_steps, #ui_compost1, #ui_compost2 {
  display: none;
}

#ui_processors1, #ui_processors2, #ui_rates1, #ui_rates2, #ui_collectors, #ui_collectors2, #ui_map_fertilizer {
    display: none;
}

#intro, #ui_projects, .ui_rates {
  display: none;
}

#ui_greenhouse_speed, #ui_greenhouse_use, #ui_factory_speed, #ui_factory_efficiency, #ui_factory_use {
  display: none;
}

#ui_focus, #ui_greenhouse_bonus, #ui_factory_bonus {
  display: none;
}

#auto_compost_box0, #auto_compost_box1, #auto_compost_box2 {
  display: none;
  color: var(--dark-color);
}

.composts {
  text-align: center;
  padding: 5px;
}

.btn_set_compost, .progress.compost, .compost_active {
  display: none;
}

.auto-compost {
  font-size: 6pt;
  color: var(--dark-color);
  accent-color: var(--dark-color);
}

.compost_active {
  font-size: 9pt;
  animation: blinker 1s infinite;
}
  
@keyframes blinker {
    from { color:rgb(255, 63, 4); }
    50% { color:rgb(32, 30, 30); }
    to { color:rgb(255, 63, 4); }
}

.compost_price_tag {
  width: 56px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 24px;
  font-size: 6pt;
  color: var(--dark-mid-color);
  font-weight: 500;
  margin-bottom: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.compost-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--bright-color);
  border: 2px solid var(--bright-mid-color);
  border-style: inset;
  -webkit-transition: .4s;
  transition: .4s;
}

.compost-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bright-mid-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .compost-slider {
  background-color: #ACC68A;
}

input:focus + .compost-slider {
  box-shadow: 0 0 1px #ACC68A;
}

input:checked + .compost-slider:before {
  background-color: var(--bright-mid-color);
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* end of switch */

.columns.no_padding {
  padding-right: 0px;
  padding-left: 5px;
}

.btn_compost {
  width: 56px;
  height: 56px;
}

/*Strategy*/

#strategy-left {
  transform: rotate(-90deg);
}

#strategy-right {
  transform: rotate(90deg);
}

#strategy-down {
  transform: rotate(180deg);
}

#strategy-up, #strategy-down, #strategy-left, #strategy-right, #strategy-random, #strategy-smart, #strategy-home {
  cursor: pointer;
  padding: 4px;
  margin: 3px;
}


.free_workers_highlight {
    color: rgb(255, 63, 4);
    font-size: 10pt;
}

/*Focus Projects*/
#ui_focus {
  background-color: #152222;
}

.focus_project {
  position: relative;
  font-size: var(--norm_size);
  /* background-color: var(--bright-color); */

  color: var(--dark-mid-color);
  height: 106px;
  transition: all 1500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus_project.level1 {

}

.focus_project.level2 {

}

.img_focus_project {
  width: 35px;
}

.focus_icons {
  display: flex;
}

.focus_actions_container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon_focus_actions {
  height: 30px;
}


.focus_swirl {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  display: none; /*set to flex to make it always visible */
}

.focus_swirl.converter {
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 55%;
}

.focus_swirl.generator {
  /* left: -1.7rem;
  top: 0rem; */
  -webkit-animation: rotation linear 10s infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(-359deg);
    }
}



.img_project_resource{
  width: 25px;
  /* transform: translateY(-2px); */
}

.btn_cheat {
  background-color: var(--bright-color);
  color: var(--dark-color);
}

/* unused */
.focus_worker { 
  font-size: var(--norm_size);
  font-weight: bold;
}

.focus_text {
  font-size: var(--norm_size);
}

.focus_active {
  display: none;
}

.focus_project_progress {
  /*position: relative;*/
  transform-origin: -10% 100%;
  /*-webkit-transform: rotate(-90deg);*/
  /*-moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);*/
  transform: rotate(-90deg);

  width: 85px;
  height: 3px;
}



.img_focus_arrow {
  width: 20px;
  padding-top: 0px;
  margin-left: 7px;
  margin-right: 8px;
}

#progress_season {
    height: 3px;
    width: 110px;
    margin: 3px 0px 0px 0px;
}

#meter_season {
    background-color: #205038;
}
 
/* MEDITATION */

#ui_meditation {
  display: none;
}

#meditation_target_bg {
  height: 24px;
  width: 300px;
  background-image: linear-gradient(to right, #303030, #ffe);
}

#meditation_target_container {
    display: none;
}

.meditation_box {
  width: 70px;
  height: 80px;
  background-color: #3f3f3f;

  border-color: #fff;
  border: 2px solid;
}

.meditation_box_container {
  display: none;
}

/*#meditation_target_container {
  display: none;
}*/

#meditation_box0 {
  animation: CycleColors 0.5s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_box1 {
  animation: CycleColors 0.7s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_box2 {
  animation: CycleColors 0.85s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_target {
  width: 20px;
  height: 28px;
  background-color: none;
  border: 2px solid;
  border-color: #fff;
  transform: translateY(-2px) translateX(-50%);
  display: none;
}

#meditation_current {
  width: 4px;
  height: 16px;
  background-color: #fff;
  transform: translateY(5px) translateX(-50%);
  z-index: 10;
  display: none;
}

.meditation_try {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #84bb6d;
  display: none;
  z-index: 10;
  transform: translateY(17px) translateX(-50%);
}

.stacked {
  position: absolute;
}

@keyframes CycleColors {
  0% {
    background-color: #303030;
  }
  100% {
    background-color: #ffe;
  }
}

#meditation_win, #meditation_lose {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16pt;
  display: none;
}

#meditation_win{
  animation: Wobble 0.4s alternate linear infinite;
}

#meditation_lose{
  animation: Wobble 0.6s alternate linear infinite;
  color: #e44;
}

@keyframes Wobble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.6);
  }
}


/* GAME PHASE 2 */

.teapet {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.ceremony {
  text-align: center;
}

.ceremony.inactive {
  opacity: 0.5;
}

#ceremony_running {
  display: none;
}



#ceremony_container { /*640, 580*/
  width: 640px;
  height: 580px;
  position: relative;
}

#ceremony_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(248,248,243);
  background: linear-gradient(180deg, rgba(248,248,243,1) 0%, rgba(171,149,74,1) 74%);
}

#ceremony_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(static/ceiling_fire.png);
  background-repeat: repeat-x;
}

#ceremony_pillar_left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 512px;
  background-repeat: no-repeat;
  background-image: url(static/pillar_simple.png);
}

#ceremony_pillar_right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64px;
  height: 512px;
  background-repeat: no-repeat;
  background-image: url(static/pillar_simple.png);
}

#ceremony_decor_left {
  position: absolute;
  top: 52%;
  left: 19%;
  width: 64px;
  height: 128px;
  background-repeat: no-repeat;
  background-image: url(static/fire_pot.png);
}

#ceremony_decor_right {
  position: absolute;
  top: 52%;
  right: 19%;
  width: 64px;
  height: 128px;
  background-repeat: no-repeat;
  background-image: url(static/fire_pot.png);
}

#ceremony_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 256px;
  background-image: url(static/floor_fire.png);
}

#ceremony_fire {
  position: absolute;
  bottom: 160px;
  left: 200px;
  color: #ecd;
}

#ceremony_nature {
  position: absolute;
  bottom: 160px;
  left: 315px;
  color: #ecd;
}

#ceremony_water {
  position: absolute;
  bottom: 160px;
  left: 400px;
  color: #ecd;
}

#ceremony_icon_fire {
  position: absolute;
  bottom: 180px;
  left: 220px;
}

#ceremony_icon_nature {
  position: absolute;
  bottom: 180px;
  left: 315px;
}

#ceremony_icon_water {
  position: absolute;
  bottom: 180px;
  left: 410px;
}

#pick_bag {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30px;
  left: 85px;
}

#abort_ceremony {
  position: absolute;
  width: 90px;
  height: 35px;
  bottom: 90px;
  right: 85px;
}

#picked_teapet_text {
  position: absolute;
  top: 25%;
  left: 80px;
}

#progress_explosion {
  position: absolute;
  top: 335px;
  left: 230px;
  height: 15px;
  width: 180px;
}

#waterfall {
  position: absolute;
  top: 30px;
  left: 220px;
  display: none;
}

#picked_teapet {
  position: absolute;
  top: 200px;
  left: 245px;
}

#picked_teapet.animate0 {
  animation: animate0 2s forwards;
}

#picked_teapet.animate1 {
  animation: animate1 2s forwards;
}

#picked_teapet.animate2 {
  animation: animate2 2s forwards;
}

@keyframes animate0{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(0.6);
        top: 38%;
    }
}

@keyframes animate1{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(0.8);
        top: 36%;
    }
}

@keyframes animate2{
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(1.0);
        top: 34%;
    }
}

/* ADDED */
