@font-face{
  font-family: 'PixelOperator';
  src: url('static/fonts/PixelOperator8.ttf');
  font-weight: normal;
}

@font-face{
  font-family: 'PixelOperator';
  src: url('static/fonts/PixelOperator8-bold.ttf');
  font-weight: bold;
}



html, select, button {
    /*font-family: 'Overlock', cursive;*/
    /*font-family: 'Patua One';*/
    font-family: 'PixelOperator';
    font-weight: 400;
    font-size: 14pt;
}

body {
    background-color: #3f3f3f;
    color: #ffe;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Nanum Pen Script', cursive;*/
    /*font-family: 'Patua One';*/
    font-family: 'PixelOperator';
    font-size-adjust: 0.5;
}

.map {
    /*border: solid;
    border-width: 0px;*/

    /* This is needed for equal aspect ratio */
    width: 100%;
    height: 100%;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Equal aspect ratio container */
.equal_aspect_ratio{
  position: relative;
  width: 100%;
  padding: 0px;
}

.equal_aspect_ratio:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#map_container1 {
  width: 50%;
}

#map1 {
  border-width: 1px;
  border-color: #3f3f3f;
}

.center {
  text-align: center;
}

.img_focus {
  margin-bottom: 16px;
}

/*STANDARD UI ELEMENTS*/
.box {
  /*
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #ffe;
*/
  background-color: #303030;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 20px;
  margin-left: 0px !important;
  margin-right: 0px !important;

  font-family: 'PixelOperator';
}

.more_line_height {
  line-height: 40px;
}

#focus {
  font-size: 18pt;
  font-weight: 600;
}

/*GAME PHASE 0*/
#ui_game_phase0, #ui_game_phase1 {
  padding: 30px;
  padding-top: 50px;
  display: none;
}

.teabag_container {
  text-align: right;
  padding-right: 30px;
}

#teabags, #teabags1 {
  font-size: 18pt;
}

#select_strategy {
  height: 35px;
  max-height: 35px;
  line-height: 28px;
  padding-top: 2px;
  margin-top: 8px;

  font-weight: 500;
}

#make_teabag {
  margin-bottom: 5px;
}
/*.box_garden {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
*/
button {
  color: #303030;
  background-color: #ffe;
  border: none;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#ui_projects {
  padding: 0px;
  padding-top: 25px;
}

.project {
    padding: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 90%;
    font-size: 14pt;
    margin-left: 5%;
    background-color: #ffe;
    display: none;
    color: #303030;
}

.project_price {
  font-size: 12pt;
  /*float: right;*/
  width: 100%;
  text-align: right;
}

.btn_plus {
  font-weight: 600;
  font-size: 16pt;
}

.btn_buy {
  font-weight: 600;
  font-size: 16pt;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-right: 3px;

  font-family: 'PixelOperator';
}

.btn_buy.minus {
  padding-left: 13px;
  padding-right: 13px;
}

#ui_compost, #ui_garden1, #ui_garden2, #ui_coll_strategy, #ui_coll_steps, #ui_compost1, #ui_compost2 {
  display: none;
}

#ui_processors1, #ui_processors2, #ui_rates1, #ui_rates2, #ui_collectors {
    display: none;
}

#ui_game_phase1, #ui_projects, .ui_rates {
  display: none;
}

#ui_greenhouse_speed, #ui_greenhouse_use, #ui_factory_speed, #ui_factory_efficiency, #ui_factory_use {
  display: none;
}

#ui_focus {
  display: none;
}


.composts {
  text-align: center;
  padding: 5px;
}

.btn_set_compost, .progress.compost, .compost_active {
  display: none;
}

.compost_active {
  color: #11cf55;
}

.columns.no_padding {
  padding-right: 0px;
  padding-left: 5px;
}


/*Focus Projects*/
.focus_project {
  padding: 12px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 90%;
  font-size: 14pt;
  margin-left: 5%;
  background-color: #ffe;
  color: #303030;
  height: 100px;
}

.focus_active {
  display: none;
}

.focus_project_progress {
  -webkit-transform: rotate(-90deg) translate(28%, -250%);
  -moz-transform: rotate(-90deg) translate(28%, -250%);
  -o-transform: rotate(-90deg) translate(28%, -250%);
  -ms-transform: rotate(-90deg) translate(28%, -250%);
  transform: rotate(-90deg) translate(28%, -250%);

  width: 90px;
}

.img_focus_project {
  width: 35px;
}

.img_focus_arrow {
  width: 20px;
  padding-top: 0px;
  margin-left: 7px;
  margin-right: 8px;
}

.focus_icons {
  text-align: center;
  padding-top: 20px;
  margin-right: 10px;
}

.focus_swirl {
  position: absolute;
  width: 75px;
  -webkit-animation: rotation linear 4s infinite;
  display: none;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: translate(5px, -63px) rotate(0deg);
    }
    to {
        -webkit-transform: translate(5px, -63px) rotate(-359deg);
    }
}

.img_project_resource{
  width: 25px;
  transform: translateY(-2px);
}

.btn_cheat {
  background-color: #444;
}

/* MEDITATION */

#ui_meditation {
  display: none;
}

#meditation_target_bg {
  height: 24px;
  width: 300px;
  background-image: linear-gradient(to right, #303030, #ffe);
}

.meditation_box {
  width: 70px;
  height: 80px;
  background-color: #3f3f3f;

  border-color: #fff;
  border: 2px solid;
}

.meditation_box_container {
  display: none;
}

#meditation_target_container {
  display: none;
}

#stop_meditation {
  display: none;
}

#meditation_box0 {
  animation: CycleColors 0.5s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_box1 {
  animation: CycleColors 0.7s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_box2 {
  animation: CycleColors 0.85s alternate linear infinite;
  animation-play-state: paused;
}

#meditation_target {
  width: 20px;
  height: 28px;
  background-color: none;
  border: 2px solid;
  border-color: #fff;
  transform: translateY(-2px) translateX(-50%);
}

#meditation_current {
  width: 4px;
  height: 16px;
  background-color: #fff;
  transform: translateY(5px) translateX(-50%);
  display: none;
}

.stacked {
  position: absolute;
}

@keyframes CycleColors {
  0% {
    background-color: #303030;
  }
  100% {
    background-color: #ffe;
  }
}


/* GAME PHASE 2 */

#ui_game_phase2 {
  display: none;
}
